App/build
# App/Pods  # Commented out so Pods can be committed for Xcode Cloud
App/output
App/App/public
DerivedData
xcuserdata

# Cordova plugins for Capacitor
# capacitor-cordova-ios-plugins  # Commented out for Xcode Cloud

# Generated Config files
App/App/capacitor.config.json
App/App/config.xml
